<section id="home">
  <div class="banner-container">
    <div class="container">
      <div class="row">
        <div class="logo"> 
          <%= image_tag "http://mycliq.co.uk/images/logo.png", width: 250 %>
        </div>
      </div>
    </div>
  </div>
</section>
